<!-- clubs.html -->
{% extends 'auction/home.html' %}
{% load static %}

{% block title %}Clubs{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/clubs.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="clubs-wrapper">
    <section>
        <div class="head">
            <h1>Clubs</h1>
        </div>
        <div class="clubs-container">
            {% for club in clubs %}
                <div class="club-logo">
                    <a href="{% url 'team_detail' club.id %}">
                        <img src="{{ club.logo.url }}" alt="{{ club.team_name }} Logo">
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
