{% extends 'auction/home.html' %}
{% load static %}

{% block title %}Clubs{% endblock %}

{% block content %}    
    <style>
        h1{
            color: black;
            text-align: center;
            padding-top: 20px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bolder;
        }

        section{
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
            backdrop-filter: blur(10px);
            margin: 3% 20% 5%;
            border-radius: 10px;
            box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6);
        }

        .clubs-container {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: space-evenly;
            padding: 40px;
        }

        .club-logo img {
            max-width: 250px; /* Adjust the width as needed */
            max-height: 250px; /* Adjust the height as needed */
            object-fit: contain;
            border: 2px solid #ccc; /* Optional: Adds a border */
            border-radius: 8px; /* Optional: Adds rounded corners */
        }
        .club-logo {
            text-align: center;
        }
    </style>

    <section>
        <div class="head">
            <h1>Clubs</h1>
        </div>
        <div class="clubs-container">
            {% for club in clubs %}
                <div class="club-logo">
                    <a href="{% url 'team_detail' club.id %}">
                        <img src="{{ club.logo.url }}" alt="{{ club.team_name }} Logo">
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}