{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static "images/logo.png" %}">
  {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="logo-container">
        <div class="logo">
          <span class="text">KICK</span>
          <div class="ball-container">
            <span class="football-emoji">⚽</span>
            <div class="paint-splash"></div>
          </div>
          <span class="text">FF</span>
        </div>
        

      </div>
      <nav>
        <ul class="nav-list">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'clubs' %}">Club</a></li>
          <li><a href="{% url 'players' %}">Players</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <div class="area">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        {% block content %}
        {% endblock %}
      </div>
    </div>

    <footer class="footer">
      <div class="contact-info">
        <p>&copy; KICKOFF 2024 - Developed by the students of Int M.Sc. Computer Science, NASC</p>
      </div>
    </footer>
  </div>

</body>
</html>
