{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="logo-container">
        <img src="{% static '/images/logo.png' %}" alt="Bytez Logo" class="left-logo">
        <div class="header-content">
          <h3>BYTEZ 3.0</h3>
          <h4>COMPUTER SCIENCE ASSOCIATION 2024-2025</h4>
        </div>
     
      </div>
    </header>
    
    <nav>
      <ul>
        <li><a href="{% url "clubs" %}">Club</a></li>
        </li>

        <li><a href="{% url "players" %}">Players</a></li>
        </li>
      </ul>
    </nav>
    
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <footer class="footer">
    <div class="contact-info">
      <p> &copy;BPL 2024 - Developed by the students of Int M.Sc. Computer Science, NASC </p>
    </div>
  </footer>

</body>
</html>
