{% extends 'auction/home.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Cards</title>
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
</head>
    <div class="container">
        <h1>Players Cards</h1>
        <div class="player-grid">
            {% for player in players %}
            <div class="player-card">
                <a href="{% url 'auction' player.id %}">
                    <img src="{{ player.card_image.url }}" alt="Player Card">
                    {% if player.team %}
                    <!-- Overlay or replacement for sold-out -->
                    <div class="sold-out-overlay">
                        <img src="{% static 'images/soldout.png' %}" alt="Sold Out">
                    </div>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
    
        <div class="pagination">
            <span class="step-links">
                {% if players.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ players.previous_page_number }}">previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ players.number }} of {{ players.paginator.num_pages }}.
                </span>
    
                {% if players.has_next %}
                    <a href="?page={{ players.next_page_number }}">next</a>
                    <a href="?page={{ players.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    
</div>
{% endblock %}
