{% extends 'auction/home.html' %}
{% load static %}

{% block title %}{{ team.team_name }} Details{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/team_detail.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class="team-detail">
        <div class="head">
            <h2>{{ team.team_name }}</h2>
        </div>
        <div class="info">
            <img src="{{ team.logo.url }}" alt="{{ team.team_name }} Logo" class="team-logo">
            <table>
                <tr>
                    <th>Manager</th>
                    <td>{{ team.manager }}</td>
                </tr>
                <tr>
                    <th>Owner</th>
                    <td>{{ team.owner }}</td>
                </tr>
            </table> 
        </div>
        <div class="purse">
            <h2>Purse Remaining: <span class="highlight">${{ team.purse_remaining }} M</span></h2>
        </div>        
        <div class="players-container">
            
            {% for player in players %}
                <div class="player-card">
                    <img src="{{ player.card_image.url }}" alt="{{ player.name }} Card">
                    <h4>{{ player.name }}</h4>
                    <p><strong>Price:</strong> ${{ player.base_price }} M</p>
                    <p><strong>Year:</strong> {{ player.year }}</p>
                </div>
            {% empty %}
                <p>No players assigned to this team.</p>
            {% endfor %}
        </div>
        
        <a href="{% url 'clubs' %}" class="back-link">← Back to Clubs</a>
    </div>
{% endblock %}
